.keyart, .keyart_layer {
	height: 160vh;
    width: 100%;
}
    #parallax {
        display: block;
    }
.keyart {
	position: relative;
	top: 0;
	z-index: -1;
}
.keyart_layer {
	background-position: top center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
	will-change: transform;
}
.keyart_layer.parallax {
	position: fixed;
}
	#keyart-1 {
		background-image: url("/assets/backgrounds/Layer001-min.png");
	}
	#keyart-2 {
		background-image: url("/assets/backgrounds/Layer002-min.png");
	}
	#keyart-3 {
		background-image: url("/assets/backgrounds/Layer003-min.png");
	}
	#keyart-4 {
		background-image: url("/assets/backgrounds/Layer004-min.png");
	}
	#keyart-5 {
		background-image: url("/assets/backgrounds/Layer005-min.png");
	}
	#keyart-6 {
		background-image: url("/assets/backgrounds/Layer006.png");
	}
	#keyart-7 {
		background-image: url("/assets/backgrounds/Title.png");
		background-size: 90%;
		top: 7rem;
		opacity: 85%;
	}
	

/* MOBILE STYLING */

@media (max-width: 768px) {
	.keyart, .keyart_layer {
        height: 60vh;
        background-size: cover;
    }
        #keyart-7 {
            background-size: 70%;
            top: 4rem;
        }
}