.header {
    color: hotpink;
}

/* navbar stuff */
.navbar {
    display: flex;
    justify-content: flex-start; /* left-align links */
    align-items: center;         /* vertically center items */
    gap: 1rem;                   /* space between items */
    background-color: #555;
    padding: 0.5rem 1rem;
}

.navbar h1 {
    margin-right: auto;
    color: hotpink;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.navbar a:hover {
    background-color: #000;
}

/* to-do: */
.active {
    background-color: #003399;
    border-radius: 1rem;
}