---
import Navigation from "./Navigation.astro";
import "./Navigation.css"
---
<div class = "navheader">
    <!-- mSite59 element -->
    <div class = "logo">
        <img src="/assets/gfx/bread.png" alt="" loading="lazy">
        <h1>
            mSite59
        </h1>
    </div>
    <div class = "links">
        <a href = "https://github.com/mdoheny9" target="_blank">
            <i class="fa-brands fa-github"></i>
            Github
        </a> 
        <a href = "https://www.linkedin.com/in/megan-doheny" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
            LinkedIn
        </a> 
        <a href = "mailto:megand0905@gmail.com" target="_blank">
            <i class="fa-solid fa-envelope"></i>
            Email
        </a>
    </div>
    
</div>
<Navigation/>