---
import BaseLayout from "../layouts/BaseLayout.astro"
import HomeLayout from "../layouts/HomeLayout.astro"

const pageTitle = "Welcome!"

export const bgColour = "#291b13";
export const bgImage = undefined;
---
<BaseLayout pageTitle = {pageTitle} bgColour = {bgColour}>
    <p>
        Hi, my name is Megan and this is my website!
    </p>
    <p>
        My Portfolio page showcases my technical projects with filtering options so you can explore by topic. 
        The Photography page is a selection of my favorite photos, each linked to my Instagram for more context. 
        Finally, the Contact page makes it easy to reach me on platforms like GitHub, LinkedIn, and Instagram. 
    </p>
    <p>
        I hope you enjoy exploring my work!
    </p>
    
</BaseLayout>