---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Welcome!"

export const bgColour = "#291b13";
export const bgImage = "";
---
<BaseLayout pageTitle = {pageTitle} bgColour = {bgColour}>
    <div id = "description">
        <p>
            Hi, my name is Megan! Welcome to my portfolio website showcasing technical projects and creative work.
        </p>
        <p>
            Feel free to explore the different sections, and if you have any comments or suggestions I will gladly take them! 
            You can contact me via any of the platforms listed in the <strong>Contact</strong> section.
        </p>
        <p>
            I hope you enjoy exploring my work!
        </p>
    </div>
    
</BaseLayout>