---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Contact me"
const bgColour = "#33313f"
---
<BaseLayout pageTitle = {pageTitle} bgColour = {bgColour}>
    <p>
        You can find me on all the platforms below!
    </p>
    <div class = "contact-list">
        <a href = "https://github.com/mdoheny9" target="_blank">
            <i class="fa-brands fa-github"></i>
            Github
        </a> 
        <a href = "https://www.linkedin.com/in/megan-doheny" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
            LinkedIn
        </a> 
        <a href = "mailto:megand0905@gmail.com" target="_blank">
            <i class="fa-solid fa-envelope"></i>
            Email
        </a>
        <a href="https://www.instagram.com/megandoheny_/" target = "_blank">
            <i class="fa-brands fa-instagram"></i>
            Instagram
        </a>
    </div>
</BaseLayout>