---
import BaseLayout from "../layouts/BaseLayout.astro"
import HomeLayout from "../layouts/HomeLayout.astro"

const pageTitle = "Welcome!"
// const bgImage = "../../assets/backgrounds/landscape01.png"
const bgColour = "#291b13";

---
<HomeLayout/>
<div class = "spacer"></div>
<BaseLayout pageTitle = {pageTitle} bgColour = {bgColour}>
	<a href = "https://github.com/mdoheny9" target="_blank">
		GitHub
	</a> /
	<a href = "https://www.linkedin.com/in/megan-doheny" target="_blank">
		LinkedIn
	</a> /
	<a href = "mailto:megand0905@gmail.com" target="_blank">
		email
	</a>
	<p>
		Hi, my name is Megan and this is my website! 
	</p>
	
	<a href = "pages/portfolio/portfolio.html">
		My Portfolio! /
	</a>
	<a href = "pages/weather/weatherpage.html">
		See the weather
	</a>
	<p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p>
</BaseLayout>
<style>
	.spacer {
		margin-top: 33rem;
	}
</style>