---
import BaseLayout from "../layouts/BaseLayout.astro"
import PhotoPost from "../components/PhotoPost.astro"

const pageTitle = "My photos"
const bgColour = "#33313f"
---

<BaseLayout pageTitle = {pageTitle} bgColour = {bgColour}>
    <p>
        A collection of the photos I would like to share with the world!
        My standards for my own photography have dropped significantly
        in the past few months, so the ones posted here are any that I find
        relatively pleasant to look at. Feast your eyes upon some mid photography!!!
    </p>
    <PhotoPost title = "Holivia" image = "holivia.jpg" description = "wow this sure is awesome" date = "2022-07-01" camera = "Nikon D3100"/>
</BaseLayout>