body {
    background-color: rgb(64,64,64)
}

h1 {
    display: flex;
    justify-content: center;
    color: #e1ebff;
}
.home-btn {
    padding: 25px;
    border-radius: 25px;
    color:#0261bb;
    font-size: 20px;
    background-color:#e1ebff;
}
.header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 40px;
}

.content {
    margin: 50px;
    padding: 1px;
    border-radius: 25px;
    background-color:rgb(98, 98, 98);
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px;
}