---
const {link} = Astro.props;
---
<div class = "github-button">
    <a href = {link} target = "_blank">
        <img class = "icon" src="../../public/assets/gfx/github.png" alt="">
        View on Github!
    </a> 
</div>