---
import Navigation from "./Navigation.astro"
---
<div class = "navheader">
    <!-- mSite59 element -->
    <img src="../../assets/gfx/bread.png" alt="">
    <h1>
        mSite59
    </h1>
    <div class = "links">
        <a href = "https://github.com/mdoheny9" target="_blank">
            <img src="../../assets/gfx/littleguy.png" alt="">
            Github
        </a> 
        <a href = "https://www.linkedin.com/in/megan-doheny" target="_blank">
            <img src="../../assets/gfx/littleguy.png" alt="">
            LinkedIn
        </a> 
        <a href = "mailto:megand0905@gmail.com" target="_blank">
            <img src="../../assets/gfx/littleguy.png" alt="">
            Email
        </a>
    </div>
    
</div>
<Navigation/>