---
---
<div class = "navbar">
    <!-- Home button -->
    <a href = "#about">
        <img class="icon" src="../../public/assets/gfx/star.png" alt="" loading="lazy">
        Home
    </a>
    <!-- Portfolio button -->
    <a href="#portfolio">
        <img class="icon" src="../../public/assets/gfx/star.png" alt="" loading="lazy">
        Portfolio
    </a>
    <!-- Photography button -->
    <a href="#photography">
        <img class="icon" src="../../public/assets/gfx/star.png" alt="" loading="lazy">
        Photography
    </a>
    <!-- Contact button -->
    <a href="#contact">
        <img class="icon" src="../../public/assets/gfx/star.png" alt="" loading="lazy">
        Contact
    </a>
</div>
<script>
    const sections = [...document.querySelectorAll('section')];
    const navLinks = document.querySelectorAll(".navbar a");

    const handleIntersect = (entries) => {
		entries.forEach(entry => {
			if (entry.isIntersecting) {
				navLinks.forEach(link => {
                    link.classList.toggle(
                        "active",
                        link.getAttribute("href") === "#" + entry.target.id
                    );
                });
			}
		});
	};

    sections.forEach(section => {
		const threshold = parseFloat(section.dataset.threshold) || 0.5; // default 0.5
		const observer = new IntersectionObserver(handleIntersect, { threshold });
		observer.observe(section);
	});

    navLinks.forEach(link => {
        link.addEventListener("click", function(e) {
            e.preventDefault(); // Prevent default jump
            const targetId = this.getAttribute("href").substring(1); // remove #
            const targetSection = document.getElementById(targetId);
            if (targetSection) {
                targetSection.scrollIntoView({
                    behavior: "smooth",
                    block: "start"
                });
            }
        });
    });
</script>