---
import Header from "../components/Header.astro"
import '../styles/global.css';

const {pageTitle, bgImage, bgColour} = Astro.props
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class = "base-layout" style = {`background-image: url(${bgImage}); background-color: ${bgColour}`}>
		<!-- <div class="layer-06"></div> -->
		<!-- <Header/> -->
        <div class = "content">
            <h1 id = "description">{pageTitle}</h1>
            <slot/>
        </div>
	</body>
</html>
<script src="https://kit.fontawesome.com/ed5ae2fab9.js" crossorigin="anonymous"></script>