/* font stuff */
@font-face {
  font-family: DefaultFont;
  src: url(../../fonts/GentiumBookBasic-Regular.ttf);
}

body {
    font-family: DefaultFont;
    background-color: rgb(64,64,64);
      margin-right: 10rem;
    margin-left: 10rem;
}

.bio {
  color: #c7c7c7;
}

.photo-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2.5rem;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color:rgb(98, 98, 98);
}

.githublink {
    color: #0b8bbe;
}

/* ========== modal stuff ========== */
.open-modal-btn {
    padding: .5rem;
    width: 22rem;

    /* interactions */
    transition: transform 0.25s ease-in-out;
}

.open-modal-btn:hover {
  transform: scale(1.1); 
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content img {
  max-width: 40rem;
}

/* close modal button */
.close-modal-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* navheader stuff */
.navheader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.navheader h1 {
    margin-right: auto;
    background: linear-gradient(90deg, #FF4500, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navheader img {
    height: 2.5rem;
    width: 2.5rem;
}

.navheader a {
    text-decoration: none;
    color: white;
}

.navheader .links {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    gap: 2rem;
}

.navheader .links img {
    height: 1.5em;
    width: 1.5em;
}

/* ========== navbar stuff ========== */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0rem 1rem;
    border: 1rem solid transparent;
    border-image: url("../../borders/panel-transparent-center-030-dark.png");
    border-image-slice: 13 fill;
}

.navbar a {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(110, 110, 110, .4);
  border-radius: 1rem;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
    background-color: rgba(110, 110, 110, .6);
}

.navbar .active:hover {
    background-color: rgba(0, 85, 255, 1);
}

.navbar .icon {
    width: 1.5em;
    height: 1.5em;
    background-size: contain;
    margin-right: 0.5rem;
}

.navbar a:hover .icon {
    content: url("../../gfx/staronhover.png");
}

.navbar .active {
    background-color: rgb(0, 85, 255, .7);
    border-radius: 1rem;
}